<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app="myRepo" ng-controller="RepoController" class="ng-cloak">
	<div class="container-fluid">

		<br>
		<i class="icon-glass"></i>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Template Permissions Listing</div>

			<table class="table table-striped">
				<tr>
					<th>Title</th>
					<th>Team</th>
					<th>Granted to : Users</th>
					<th>Granted to : Roles</th>
					<th ng-repeat="items in globalpermNames">{{items.replace("#"," ").replace("_"," ")}}</th>
				</tr>
				<tbody ng-repeat="(key,value) in resultCis">
					<tr ng-if="key.split('::')[0] == 'TEMPLATE'">
						<td>{{key.split('::')[1]}}</td>
						<td>{{key.split('::')[2]}}</td>
						<td>{{key.split('::')[3]}}</td>
						<td>{{key.split('::')[4]}}</td>
						<td ng-repeat="item in globalperms"><label><i ng-class="value.indexOf(item) > -1 ? 'glyphicon glyphicon-ok' : '' "></i></label></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Active Release Permissions Listing</div>

			<table class="table table-striped">
				<tr>
					<th>Title</th>
					<th>Team</th>
					<th>Granted to : Users</th>
					<th>Granted to : Roles</th>
					<th ng-repeat="items in allpermNames">{{items.replace("#"," ").replace("_"," ")}}</th>
				</tr>
				<tbody ng-repeat="(key,value) in resultCis">
					<tr ng-if="key.split('::')[0] != 'TEMPLATE'">
						<td>{{key.split('::')[1]}}</td>
						<td>{{key.split('::')[2]}}</td>
						<td>{{key.split('::')[3]}}</td>
						<td>{{key.split('::')[4]}}</td>
						<td ng-repeat="item in allperms"><i ng-class="value.indexOf(item) > -1 ? 'glyphicon glyphicon-ok' : '' "></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
